

<div class="container mt-5 ps-5 pe-5">
    <div class="row justify-content-center">
        <div class="listBox col-xxl-7">
            <h1 class="niceblue">My shopping list Application</h1>
            <hr class="mb-4">

            <section class="mb-3 lead">
                <div class="mb-3">
                    <label class="form-label">Item name</label>
                    <input [(ngModel)]="itemName" type="text" class="form-control shadow-none">
                    <small *ngIf="missingName" class="text-danger">This field is required.</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantity</label>
                    <input [(ngModel)]="itemQuantity" type="number" class="form-control shadow-none">
                    <small *ngIf="missingQuantity" class="text-danger">This field is required.</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input [(ngModel)]="itemPrice" type="number" class="form-control shadow-none">
                    <small *ngIf="missingPrice" class="text-danger">This field is required.</small>
                </div>
                <button (click)="onSubmit()" class="btn btn-primary mb-4">Add Item</button>
                <div *ngIf="missingValue" class="alert alert-danger alert-dismissible">
                    {{ alertText() }}
                    <button (click)="closeAlert()" class="btn-close shadow-none" data-bs-dismiss="alert"></button>
                </div>
            </section>

            <h3 class="niceblue mb-3">Your list {{headingText()}}</h3>

            <section *ngIf="shoppingList.length > 0">
                <table class="table">
                    <thead>
                        <tr class="lead">
                            <td scope="col">No.</td>
                            <td scope="col">Name</td>
                            <td scope="col">Quantity</td>
                            <td scope="col">Price</td>
                            <td scope="col">-</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of shoppingList let i = index">
                            <td scope="row"> {{ i+1 }} </td>
                            <td> {{ item.name }} </td>
                            <td> {{ item.quantity }} </td>
                            <td> {{ item.price }} </td>
                            <td>
                                <button
                                    (click)="onDelete(i)"
                                    class="delete"
                                    >delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="lead">Total Price: {{totalPrice()}} €</p>

                <button
                    (click)="onClear()"
                    class="btn btn-primary mt-3"
                    >Clear list
                </button>
            </section>
        </div>
    </div>
</div>