<section class="container-fluid ps-4 pe-4">
  <!-- LESSON TITLE -->
      <div class="row mt-5 mb-5">
        <div class="col">
          <div class="box">
            <h2>Angular: Passing data between components</h2>
            <h3>Project: My Wishlist Application
              <span *ngIf="addTwo" class="addTwo" (click)="addTwoItems()">[+2 items]</span>
            </h3>
        </div>
      </div>
    </div>

  <!-- FORM AND LIST -->
  <section class="row mt-5 d-block d-sm-block d-lg-flex">
    <!-- FORM BOX -->
    <div class="col mb-5">
      <div class="box">
        <app-form
          (personalItemInput)="onItemAdded($event)"
          (householdItemInput)="onItemAdded($event)"
          (clearList)="onClearList()"
          (removeLast)="removeLastItem()"
        ></app-form>
      </div>
    </div>
    <!-- LIST BOX -->
    <div class="col mb-5">
      <div class="box mainlistbox">
        <div class="row mb-3">
          <h3>List: Child component #2</h3>
          <hr>
          <span class="lead">{{listCount()}}
              - Important items will be <u class="text-success">highlighted.</u>
          </span>
        </div>
        <app-list
        *ngFor="let item of itemList let i = index"
        [listItem]="item"
        (deleteThisItem)="onDeleteItem(i)"
        ></app-list>
      </div>
    </div>
  </section>  
</section>
  