h2,
h3 {
    color: rgb(37, 58, 96);
}

.container-fluid {
    max-width: 1500px;
}

.box {
    padding: 30px;
    border-radius: 14px;
    border: .5px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(244, 244, 244, 0.7);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1312);
}

.mainlistbox{
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-label {
    user-select: none;
}